* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}
nav {
  margin-top: 20px;
}
nav ul li:last-child {
  margin-left: 400px;
}
nav ul li:first-child {
  margin-right: 120px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.7em 1.8em;
  font-size: 16px;
  border-radius: 13px;
  font-weight: 600;
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.658);
}
nav ul li:last-child a {
  padding: 1em 1.8em;
  font-size: 16px;
  font-weight: 600;
  background-color: black;
  color: #d1ad53;
  border-radius: 13px;
}
header {
  background-image: url(/Billeder/Header/Hero_jul_3_1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 13px;
  padding: 50px;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.815);
  margin-bottom: 140px;
}
h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.header-sec p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.a-btn {
  background-color: black;
  text-decoration: none;
  color: #d1ad53;
  padding: 1em 1.8em;
  font-size: 16px;
  border-radius: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.julehilsner-wrapper {
  display: flex;
  padding: 60px;
  justify-content: center;
  align-items: center;
}
.jule-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.jule-left h2 {
  max-width: 90%;
  font-size: 63px;
}
.jule-left p {
  max-width: 50%;
  font-size: 20px;
}
.jule-right {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "box1 box1"
    "box2 box3";
  gap: 10px;
}
.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box1 img {
  width: 100%;
  height: auto;
}
.historie {
  background-color: #191919b2;
  color: white;
  text-align: center;
}
.historie-wrapper {
  display: flex;
  align-items: center;
  text-align: start;
  padding: 80px;
}
.historie-left {
  max-width: 60%;
  padding: 0 8%;
}
.historie p {
  font-size: 20px;
}
.historie h3 {
  font-size: 25px;
  max-width: 80%;
}
.historie-right {
  max-width: 50%;
  padding: 0 8%;
}
.historie h2 {
  font-size: 45px;
  padding: 50px;
}
.blomstersoter {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}
.blomstersoter h2 {
  font-size: 50px;
  margin-bottom: 40px;
}
.blomstersoter p {
  max-width: 40%;
  margin-bottom: 30px;
  text-align: center;
}
.flowerss {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "blomst1 blomst2"
    "blomst3 blomst4"
    "blomst5 blomst6"
    "blomst7 blomst8";
  grid-gap: 15px;
}
.blomstersoter-wrapper {
  display: flex;
}
.blomst1 {
  grid-area: blomst1;
}
.blomst2 {
  grid-area: blomst2;
}
.blomst3 {
  grid-area: blomst3;
}
.blomst4 {
  grid-area: blomst4;
}
.blomst5 {
  grid-area: blomst5;
}
.blomst6 {
  grid-area: blomst6;
}
.blomst7 {
  grid-area: blomst7;
}
.blomst8 {
  grid-area: blomst8;
}
.blomstersoter-right img {
  width: 190px;
}
.blomstersoter-left img {
  width: 818px;
  margin-right: 20px;
}
.faquen {
  background-color: #d1ad538a;
  padding: 5% 15%;
}
.faquen h2 {
  text-align: center;
  font-size: 45px;
}
.active .tekstBox1 {
  display: block;
}
.tekstBox1 {
  display: none;
  background-color: black;
  color: white;
}
.rundtomalle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-box {
  cursor: pointer;
  min-width: 100%;
}
.heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
#testbtn {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border: 2px solid;
  background-color: white;
  margin-bottom: 20px;
  cursor: pointer;
}
.faq {
  max-width: 100%;
  min-width: 100%;
  margin: 50px 0px;
}
.rundtomalle section.active {
  background-color: black;
  color: white;
}
.rundtomalle section {
  padding: 20px;
}
.rundtomalle section.active .heading {
  border-bottom: 2px solid #d1ad53;
}
#testt:hover {
  background-color: black;
  color: white;
}
.rundtomalle section.active #testbtn {
  background-color: #d1ad53;
  border-color: white;
}
input {
  border: 2px solid #3d3d3d;
  outline: none;
  min-height: 35px;
  max-height: 35px;
  min-width: 100%;
  margin-bottom: 44.5px;
}
.submitbtn {
  width: 100%;
  font-size: 17px;
  background-color: #3d3d3d;
  color: white;
  border: none;
  min-height: 40px;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.forms {
  display: flex;
  padding: 40px 480px;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: #d1ad53;
}
.forms p {
  margin-bottom: 50px;
}
#textfield {
  border: 2px solid black;
  font-size: 16px;
}
.error-message {
  display: none;
  border: 2px solid red;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: red;
}
.error-message.show {
  display: block;
  max-width: 100%;
}
.error-message h3 {
  font-size: 17px;
  color: #333;
  font-weight: 600;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
}
.formwrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer {
  padding: 50px 220px;
  min-width: 100%;
  background-color: black;
  color: white;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer-left {
  min-width: 50%;
}
.footer-left h2 {
  font-size: 30px;
}
.footer-left ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  gap: 10px;
}
.footer-right {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 50%;
}
.footer-right ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}
.fa-brands,
.fa-phone {
  font-size: 25px;
  color: white;
}

.fa-bars {
  display: none;
}
.fa-x {
  display: none;
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 50px;
    margin-top: 10%;
  }

  nav.active {
    left: 0%;
    transition: all 0.2s ease-in-out;
  }

  nav ul li a {
    font-size: 30px;
  }

  nav ul li a:last-child {
    font-size: 20px;
  }

  nav ul li img {
    width: 180px;
  }

  nav {
    position: fixed;
    background-color: #d1ad53;
    min-width: 100%;
    min-height: 100vh;
    margin-top: 0px;
    left: -100%;
    transition: all 0.2s ease-in-out;
  }

  nav ul li:last-child {
    margin-left: 0px;
  }
  nav ul li:first-child {
    margin-right: 0;
  }

  .header-sec {
    max-width: 95%;
    margin-top: 20px;
  }
  h1 {
    font-size: 39px;
  }
  .header-sec p {
    font-size: 20px;
  }

  .julehilsner-wrapper {
    flex-direction: column;
  }
  .jule-left p {
    max-width: 88%;
    font-size: 20px;
  }
  .jule-left {
    align-items: center;
  }
  .jule-right {
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .historie-right {
    max-width: 100%;
    padding: 68px 0%;
  }
  .historie-left {
    max-width: 100%;
    padding: 0px 0%;
  }
  .historie-wrapper {
    flex-direction: column;
  }
  .blomstersoter-left img {
    width: 326px;
  }
  .blomstersoter-right img {
    width: 156px;
  }
  .blomstersoter-wrapper {
    flex-direction: column;
  }
  .flowerss {
    margin-top: 20px;
  }
  .blomstersoter-left {
    margin-left: 32px;
  }
  .blomstersoter {
    padding: 0px;
  }
  .blomstersoter p {
    max-width: 100%;
  }
  .forms {
    padding: 0;
  }
  .formwrapper {
    flex-direction: column;
    gap: 0;
  }
  input {
    min-width: 68%;
    margin-bottom: 11.5px;
    text-indent: 5px;
  }
  #textfield {
    border: 2px solid black;
    font-size: 16px;
    max-width: 68%;
  }
  .submitbtn {
    max-width: 68%;
  }
  .forms p {
    padding: 12px;
  }
  .forms h2 {
    margin-top: 20px;
  }
  .footer-right {
    justify-content: flex-start;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  footer {
    padding: 52px 59px;
  }
  .footer-right {
    margin-top: 40px;
  }

  .fa-bars,
  .fa-x {
    display: inline;
    position: fixed;
    left: 15px;
    top: 15px;
    font-size: 40px;
    z-index: 999;
  }

  .fa-x {
    display: none;
  }

  nav.active .fa-bars {
    display: none;
  }

  nav.active .fa-x {
    display: block;
  }
  .jule-left h2 {
    max-width: 100%;
    font-size: 37px;
  }
}
